<div class="container">
    <div class="post">
        <h1>Welcome to RockNews</h1>
        <p>Rock news is the best site about new in rock sphere. Here you can find fresh information about your favorite groups and singers.
        New albums, rumors, interviwes and plenty of another cool  things you can find here</p>
    </div>
</div>